<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProductoSoap1" />
                <binding name="WebServiceUsuarioSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceUsuarioSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44362/WebServiceProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProductoSoap"
                contract="ServiceReferenceProducto.WebServiceProductoSoap"
                name="WebServiceProductoSoap" />
            <endpoint address="https://localhost:44362/WebServiceUsuario.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceUsuarioSoap"
                contract="ServiceReferenceUsuario.WebServiceUsuarioSoap" name="WebServiceUsuarioSoap" />
        </client>
    </system.serviceModel>
</configuration>