<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceClienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceClienteSoap1" />
                <binding name="WebServiceEmpleadoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceEmpleadoSoap1" />
                <binding name="WebServiceLoginSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceLoginSoap1" />
                <binding name="WebServiceProductoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceProductoSoap1" />
                <binding name="WebServiceUsuarioSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceUsuarioSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44362/WebServiceCliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceClienteSoap"
                contract="ServiceCliente.WebServiceClienteSoap" name="WebServiceClienteSoap" />
            <endpoint address="https://localhost:44362/WebServiceEmpleado.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceEmpleadoSoap"
                contract="ServiceEmpleado.WebServiceEmpleadoSoap" name="WebServiceEmpleadoSoap" />
            <endpoint address="https://localhost:44362/WebServiceLogin.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceLoginSoap"
                contract="ServiceLogin.WebServiceLoginSoap" name="WebServiceLoginSoap" />
            <endpoint address="https://localhost:44362/WebServiceProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProductoSoap"
                contract="ServiceProducto.WebServiceProductoSoap" name="WebServiceProductoSoap" />
            <endpoint address="https://localhost:44362/WebServiceUsuario.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceUsuarioSoap"
                contract="ServiceUsuario.WebServiceUsuarioSoap" name="WebServiceUsuarioSoap" />
        </client>
    </system.serviceModel>
</configuration>